section#about {
  margin: 0 auto;
  width: 100%;
  height: 900px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#about .wrap> h3 {
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ff6d15;
  /*! border-bottom: 2px solid #ff6d15; */
  width: 1440px;
  margin: 0 auto;
  font-weight: 400;
  grid-column: 1 / span 3;
  grid-row: 1;
  align-self: flex-start;
  transform: scaleY(0.8) translateY(-81px);
  display: flex;
  justify-content: space-between;
}
section#about .wrap>h3::after{
  content: "";
  display: block;
  width: 1434px;
  border-top:2px solid #ddd;
  transform: translateY(15px);
  margin-left: 50px;
}
section#about img{
  width: 353px;
  border-radius: 20px;
  grid-column: 1;
  /*! margin-right: 101px; */
  /*! transform: translateX(-80px); */
  grid-row: 2;
  align-self: flex-start;
  margin-right: 70px;
}
section#about div.wrap {
  align-items: center;
  /*! width: 100%; */
  /*! height: 570px; */
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  align-content: center;
  row-gap: 52px;
  column-gap: 50px;
}
section#about div.ab{
  grid-column: 2;
  grid-row: 2;
  /*! transform: translateY(-40px); */
}
section#about div.ab ul {

}
section#about div.ab ul li {
  line-height: 1.6;
  color: #595858;
}
section#about div.ab ul li:nth-child(-n+7){
  font-size: 18px;
  color: #333;
  line-height: 
}
section#about div.ab ul li:nth-child(7){
  margin-bottom:20px;
  }
section#about div.ab ul li:nth-child(8){
width: 500px;
}
section#about div.ab ul li:first-child{
  font-size: 50px;
}
section#about div.skill{
  grid-column: 3;
  grid-row:2;
  width: 350px;
  /*! height: 80px; */
  background-color: #efefef;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  /*! transform: translateY(-120px); */
  flex-direction: column;
  gap: 23px;
}
section#about div.skill h3{
  line-height: 2;
  font-size: 25px;
  text-align: center;
}
section#about div.skill ul{
  font-size: 0;
  /*! width: 400px; */
  /*! height: 80px; */
  display: flex;
  align-items: center;
  /*! width: 200px !important; */;
  flex-wrap: wrap;
  gap: 20px;
}
section#about div.skill ul li{
  
}
section#about div.skill ul li::before{
  content: "";
}
section#about div.skill ul li:nth-child(1)::before{
  background-image: url(../img/html.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: block;
}
section#about div .skill ul li:nth-child(2)::before{
  background-image: url(../img/css.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: block;
   background-size: 100%;
}
section#about div .skill ul li:nth-child(3)::before{
  background-image: url(../img/js.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: block;
}
section#about div .skill ul li:nth-child(4)::before{
  background-image: url(../img/jquery.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: block;
   background-size: 100%;
}
section#about div .skill ul li:nth-child(5)::before{
  background-image: url(../img/sass.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: block;
}
section#about div .skill ul li:nth-child(6)::before{
  background-image: url(../img/ps.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 49px;
  display: block;
   background-size: 100%;
}
section#about div .skill ul li:nth-child(7)::before{
  background-image: url(../img/ai.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: block;
}




