section#about {
  margin: 0 auto;
  width: 100%;
  height: 900px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
section#about h3 {
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 50px 0 10px 0;
  color: #ff6d15;
  border-bottom: 2px solid #ff6d15;
  width: 80%;
  margin: 0 auto;
}
section#about img{
  width: 450px;
  border-radius: 20px;
  grid-column: 2;
  margin-right: 50px;
}
section#about div.wrap {
  align-items: center;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr auto auto 1fr;
  grid-template-rows: auto auto;
  align-content: center;
}
section#about div.ab{
  grid-column: 3;
  grid-row: 1;
}
section#about div.ab ul {

}
section#about div.ab ul li {
  line-height: 1.9;
  color: #414040;
}
section#about div.skill{
  grid-column: 3;
  grid-row:2;
  width: 350px;
  height: 80px;
  background-color: #3d3d3d;
  border-radius: 30px;
  display: flex;
  justify-content: center;
}
section#about div.skill ul{
  font-size: 0;
  /*! width: 400px; */
  height: 80px;
  display: flex;
  align-items: center;
  width: 200px !important;;
}
section#about div.skill ul li{
  
}
section#about div.skill ul li::before{
  content: "";
}
section#about div.skill ul li:nth-child(1)::before{
  background-image: url(../img/html.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: block;
}
section#about div .skill ul li:nth-child(2)::before{
  background-image: url(../img/css.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: block;
   background-size: 100%;
}
section#about div .skill ul li:nth-child(3)::before{
  background-image: url(../img/js.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: block;
}
section#about div .skill ul li:nth-child(4)::before{
  background-image: url(../img/jquery.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: block;
   background-size: 100%;
}
section#about div .skill ul li:nth-child(5)::before{
  background-image: url(../img/sass.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: block;
}
section#about div .skill ul li:nth-child(6)::before{
  background-image: url(../img/ps.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 49px;
  display: block;
   background-size: 100%;
}
section#about div .skill ul li:nth-child(7)::before{
  background-image: url(../img/ai.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: block;
}




