section#about{
  height: 60%;
  display: flex;
  align-items: center;
}
section#about .wrap{
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
}
section#about .wrap .me{
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  row-gap: 30px;
  grid-column: 1 / span 3;
  margin-bottom: 45px;
}
section#about .wrap .me h3{
  grid-column: 2;
  grid-row: 1;
  align-self: baseline;
  text-transform: capitalize;
  transform: scaleY(0.7);
}
section#about .wrap .me img{
  width: 50%;
  /*! height: 50%; */
  border-radius: 100%;
  align-self: center;
  justify-self: center;
  grid-row: 1 /span 3;
  margin-right: 30px;
}
section#about .wrap .me ul{

  grid-column: 2;
  grid-row: 2;
}
section#about .wrap .me ul li{
  width: 700px;
  line-height: 1.9;
}
section#about .wrap .me ul li br{

}
section#about .wrap .ab{
  grid-column: 2;
  grid-row: 2;
  /*! background-color: #972828; */
  display: flex;
  flex-direction: column;
  width: 100%;
  /*! margin-left: 130px; */
}
section#about .wrap .ab h3{
  text-align: start;
  width: 70%;
  line-height: 1.7;
}
section#about .wrap .ab h3::after{
  content: "";
  display: block;
  border-top: 2px solid #dadada;
  transform: translateY(-17px);
  margin-left: 87px;
}
section#about .wrap .ab ul{
  
  display: flex;
  flex-direction: column;
}
section#about .wrap .ab ul li{
  
}
section#about .wrap .ab ul li:nth-child(-n+2){
  font-size: 20px; 
}
section#about .wrap .ab ul li:nth-child(-n+7){
  padding-top: 15px;
}
section#about .wrap .ab ul.skill{
  
}
section#about .wrap .skill{
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-column: 2 / span 2;
}
section#about .wrap .skill h3{
  width: 100%;
  line-height: 1.7;
}
section#about .wrap .skill h3::after{
  content: "";
  display: block;
  border-top: 2px solid #dadada;
  transform: translateY(-17px);
  margin-left: 87px;
}
section#about .wrap .skill ul{
  font-size: 0;
  display: flex;
  width: 100%;
  /*! justify-content: end; */
  display: grid;
  grid-template-columns: repeat(7,auto);
}
section#about .wrap .skill ul li{
  padding-top: 20px;
}
section#about .wrap .skill ul li::before{
  content: "";
}
section#about .wrap .skill ul li:nth-child(-n+10){
}
section#about .wrap .skill ul li:nth-child(1)::before{
  background-image: url(../img/html.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: block;
}
section#about .wrap .skill ul li:nth-child(2)::before{
  background-image: url(../img/css.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: block;
   background-size: 100%;
}
section#about .wrap .skill ul li:nth-child(3)::before{
  background-image: url(../img/js.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: block;
}
section#about .wrap .skill ul li:nth-child(4)::before{
  background-image: url(../img/jquery.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: block;
   background-size: 100%;
}
section#about .wrap .skill ul li:nth-child(5)::before{
  background-image: url(../img/sass.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: block;
}
section#about .wrap .skill ul li:nth-child(6)::before{
  background-image: url(../img/ai.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 49px;
  display: block;
   background-size: 100%;
}
section#about .wrap .skill ul li:nth-child(7)::before{
  background-image: url(../img/ps.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 49px;
  display: block;
   background-size: 100%;
}
/* 학습과정 */
section#about .wrap .Drive{
  
  grid-column: 3;
}
section#about .wrap .Drive h3{
  text-align: start;
  width: 100%;
  line-height: 1.7;
}
section#about .wrap .Drive h3::after{
  content: "";
  display: block;
  /*! border-top: 2px solid #dadada; */
  transform: translateY(-17px);
  margin-left: 51px;
}
section#about .wrap .Drive ul{
  
  display: flex;
  flex-direction: column;
}
section#about .wrap .Drive ul li{
  
}




