/* 상단영역 */
header{
  width: 1440px; /* 너비지정   */
  margin: 0 auto; /* 중앙정렬 */
/*   background-color: rgba(255,225,225,0.5); */
  height: 60px;
  position: absolute;
  width: 100%;
  height:auto;
  /*! display: flex; */
  /*! align-items: center; */
  /*! background-color: rgba(0,0,0,0.8); */
}
header .wrap{
  /*! display: flex; */
  /*! justify-content: space-between; */
  /*! align-items: center; */
  /*! height: 80px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*! background-color: rgba(0,0,0,0.8); */
}
header h1{
  color: red;
   
}
header h1 a{
  color: #adadad;
  font-size: 0;
  text-transform: capitalize;
  letter-spacing: 2px;
  background-image: url(../img/logo_or.png);
  width: 70px;
  height: 80px;
  display: block;
  background-size: 65%;
  background-repeat: no-repeat;
  /*! margin-top: 60px; */
  background-position: center;
}
header nav{
  display: flex;
  gap: 20px;
  padding: 7px 50px 0 0;
  /*! display: none; */
}
header nav ul.list{
  position: absolute;
  right: -200px;
  background-color: #ffd551;
  padding: 20px;
  width: 200px;
  border-radius: 20px 0 0 20px;
  letter-spacing: 1px;
  font-weight: 600;
  box-sizing: border-box;
  transition: 1s;
}
.navShow{
  right: 0px !important;
}
header nav ul.list li{
  
}
header nav ul.list li a{
  line-height: 2;
  display: block;
  text-transform: capitalize;
  color: #1c1818;
}
header ul.nav li{
 
}
header ul.nav li a{
  
}
header div .wrap.a.ham{
  font-size: 0;
  width: 30px;
  height: 30px;
  background-image: url(../img/menu.svg);
  background-repeat: no-repeat;
  background-position: center;
}
/*자식선택자 : 바로아래있는 선택자(태그) */

/*타이틀 영역*/
div#title{
  background-color:#222121;
  background-image: url(../img/title4.jpg);
  background-repeat: no-repeat;
  height: 100%;
  /*! background-size: 126%; */

  background-position: center;
  background-size: cover;
}
div#title::before{
  content: "";
  
}
div#title div.wrap{ /* 하위선택자 */
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div#title div.wrap h2{
 color: #b6b6b6;
 text-align: start;
 line-height: 1.7;
 font-weight: 100;
 color: #3a3a3a;
 font-size: 45px;
 font-family: Noto Sans KR;
}
div#title div.wrap h2 span.one{
  color: #b6b6b6;
  text-align: start;
  line-height: 1.5;
  font-weight: 500;
  color: #3a3a3a;
  font-size: 45px;
  font-style: inherit;
}
div#title div.wrap h2 span{
  font-size: 88px;
  color:#ffc208;
  /*! font-style: italic; */
  font-weight: 500;
}
div p.h{
  color: #f1f1f1;
}
/* a.ham{
  font-size: 0;
  width: 30px;
  height: 30px;
  background-image: url(../img/menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150%;
  
} */
.ham{
  width: 30px;
  height: 24px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}

.ham span{
  width: 100%;
  height: 4px;
  display: block;
  background-color: black;
  border-radius: 10px;
}
.ham span:nth-child(1){
   transform: 0.5s;
}
.ham span:nth-child(2){
   transform: 0.01s;
}
.ham span:nth-child(3){
   transform: 0.5s;
}
.ham.x span:nth-child(1){
   transform:translateY(10px) rotate(45deg);
}
.ham.x span:nth-child(2){
   opacity: 0;
}
.ham.x span:nth-child(3){
   transform:translateY(-10px) rotate(-45deg);
}
.on{
  
}
main{
  height: 200%;
}







