section{
 /*! min-height: 900px; */
}
#portfolio{
  background-color: #eee;
  height: 80%;
}
section .pro{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #eee;
}
section .pro h3{
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #0071b9;
}
section .pro .wrap{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  justify-items: center;
  gap: 30px;
  width: 1200px;
}
section .pro article{
  display: flex;
  flex-direction: column;
}
section .pro article:nth-child(1){

}
section .pro article:nth-child(2){
  
}
section .pro article:nth-child(3){
  
}
section .pro article:nth-child(4){
  grid-row: 2;
  /*! margin-top: 50px; */
}
section .pro article:nth-child(5){
  grid-row:2;
}
section .pro article h5{
  font-size: 15px;
  line-height: 2.5 !important;
  text-transform: uppercase;
}
section .pro article h5 a{

  color: #fe6c15;
}
section .pro article p{
  color: #595250;
  font-size: 20px;
}
section .pro article ul{
  position: absolute;
}
section .pro article ul li{
  width: 300px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

section .pro article .pic{
  position: relative;
} 
section .pro article .pic img{
  width: 300px;
}
section .pro article .pic img:hover{
  background-color: #000;
  opacity: 0.7;
  transition-duration: 1s;
  transition-delay: 0s;
}
section .pro article .pic img:nth-child(1){
 background-image: url(../img/pf1.png);
 border-radius: 5px;
}

