section{

}
section .pro{
  width: 100%;
  height: 900px;
  margin: 0 auto;
  background-color: #eee;
}
section .pro h2{
  display: flex;
  justify-content: center;
  font-size: 70px;
  font-weight: bold;
  padding-top: 128px;
  text-transform: uppercase;
}
section .pro .wrap{
  
  display: flex;
  justify-content: center;
}
section .pro article{

}
section .pro article h3{

  margin-top: 40px;
  font-size: 24px;
}
section .pro article h3 a{

}
section .pro article p{

  color: black;
  display: flex;
  transform: translateX(3px);
  padding-top: 20px;
}
section .pro article .pic{

  padding-left: 60px;
  transform: translateX(-35px);
}
section .pro article .pic img{
  width: 500px;
  height: 300px;
}
section .pro article .pic img:nth-child(1){
 
  display: block;
  margin-top: 100px;
}


